.ng-valid[required], .ng-valid.required, .has-success  {
  border-left: 5px solid #42A948; /* green */
}

.required.form-control.ng-invalid:not(.ng-pristine), .has-danger {
  border-left: 5px solid #a94442; /* red */
}

/*
.has-success  {
  border-left: 5px solid #42A948;//green
}

.has-danger {
  border-left: 5px solid #a94442;//red
  //border-color: #a94442;
}


*/