@import '../../variables';

@import 'hero';
@import 'header';
@import 'nav';
	
		
.bg-color {
    //background-color: RGBA(0, 0, 0, 0.41);
}

.top-nav-collapse {
    //background: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px 0;
    
}

.main-header {
	///Wow2/src/assets/layout/banner.jpeg
	background: url('assets/banner.jpg') no-repeat;
    background-size: cover;
    min-height: 610px;
}
